<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: 400px;height: 300px;#style#">
    <center class="widget-name">
        <span class="warning" title="#alert_name#">
          <i class='#alert_icon#'></i>
        </span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
            <i class="fas fa-sync"></i>
        </span>
        <span class="panelLink pull-right cursor">
          <a href="#panelLink#"><i class="fas fa-external-link-alt"></i></a>
        </span>
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
      </center>
      <div>
        
        <div id="eqLogic-energy3-#id#"></div>
        <div class="cmd cmd-widget history elec-autoconsumption cursor pull-left" data-cmd_id="#elec-autoconsumption-id#" data-type="info" data-subtype="numeric" data-template="tile" data-eqLogic_id="#id#">
            <div class="cmdName #hide_name#">Auto-consommation</div><br/>
            <center><span class="state"></span><span class="unit"></span></center>
        </div>
        <div class="cmd cmd-widget history elec-selfsufficiency cursor pull-right" data-cmd_id="#elec-selfsufficiency-id#" data-type="info" data-subtype="numeric" data-template="tile" data-eqLogic_id="#id#">
            <div class="cmdName #hide_name#">Auto-suffisance</div><br/>
            <center><span class="state"></span><span class="unit"></span></center>
        </div>
        </div>
  <script>
   Highcharts.AST.allowedAttributes.push('data-cmd_id');
   Highcharts.AST.allowedAttributes.push('data-type');
   Highcharts.chart('eqLogic-energy3-#id#', {
    chart: {
        spacingTop: 0,
        spacingRight: 0,
        spacingBottom: 0,
        spacingLeft: 0,
        plotBorderWidth: 0,
        height: 200,
        width: 430,
        margin: [0,0,0,0],
        backgroundColor: 'white',
        events: {
            load: function () {
                var ren = this.renderer
                var rightArrow = ['M', 0, 0, 'L', 100, 0, 'L', 95, 5, 'M', 100, 0, 'L', 95, -5]
                var leftArrow = ['M', 100, 0, 'L', 0, 0, 'L', 5, 5, 'M', 0, 0, 'L', 5, -5]
                ren.label('<span style="color:white !important"><i class="fas fa-bolt"></i> <i class="fas fa-arrow-left"></i> <span class="elec-export cmd history cursor" style="color:white !important" data-type=info data-cmd_id="#elec-export-id#">XXXXXXXXXX</span><br/><i class="fas fa-bolt"></i> <i class="fas fa-arrow-right"></i> <span class="elec-import cmd history cursor" style="color:white !important" data-type="info" data-cmd_id="#elec-import-id#">XXXXXXXXXX</span></span>', 0, 0,'rect',null,null,true)
                    .attr({
                        fill: '#b56926',
                        padding: 5,
                        r: 5
                    })
                    .css({
                        color: 'white !important'
                    })
                    .add()
                    .shadow(true);
                ren.path(leftArrow)
                    .attr({
                        'stroke-width': 2,
                        stroke: '#7ea823'
                    })
                    .translate(112, 13)
                    .add();
                ren.label('<span class="elec-export-instant cmd history cursor" data-type="info" data-cmd_id="#elec-export-instant-id#">XXXXXXXXXXXX</span>', 130, 12)
                    .css({
                        color: 'var(--txt-color)'
                    })
                    .add();
                ren.label('<span style="color:white !important"><i class="fas fa-sun"></i> <span class="elec-production cmd history cursor" style="color:white !important" data-type="info" data-cmd_id="#elec-production-id#">XXXXXXXXXXXX</span></span>', 196, 0,'rect',null,null,true)
                    .attr({
                        r: 5,
                        width: 100,
                        fill: '#7ea823'
                    })
                    .css({
                        color: 'white !important',
                        fontWeight: 'bold'
                    })
                    .add();
                ren.path(['M', 250, 18, 'L', 250, 88, 'L', 245, 83, 'M', 250, 88, 'L', 255, 83])
                    .attr({
                        'stroke-width': 2,
                        stroke: '#7ea823'
                    })
                    .add();
                ren.label('<span class="elec-production-consumption-instant cmd history cursor" data-type="info" data-cmd_id="#elec-production-consumption-instant-id#">XXXXXXXXXXXX</span>', 255, 43)
                    .css({
                        color: 'var(--txt-color)'
                    })
                    .add();
                ren.label('<span style="color:white !important"><i class="fas fa-home"></i> <span class="elec-consumption cmd history cursor" style="color:white !important" data-type="info" data-cmd_id="#elec-consumption-id#">XXXXXXXXXXXX</span></span>', 196, 88,'rect',null,null,true)
                    .attr({
                        r: 5,
                        width: 100,
                        fill: '#492970'
                    })
                    .css({
                        color: 'white !important',
                        fontWeight: 'bold'
                    })
                    .add();
                ren.path([
                        'M', 235, 88,
                        'L', 235, 58,
                        'C', 235, 36, 235, 36, 215, 36,
                        'L', 95, 36,
                        'M', 235, 88,
                        'L', 240, 83,
                        'M', 235, 88,
                        'L', 230, 83
                    ])
                    .attr({
                        'stroke-width': 2,
                        stroke: '#b56926',
                    })
                    .add();
                ren.label('<span class="elec-import-instant cmd history cursor" data-type="info" data-cmd_id="#elec-import-instant-id#">XXXXXXXXXXXX</span>', 140, 41)
                    .css({
                        color: 'var(--txt-color)'
                    })
                    .add();
                ren.label('<span style="color:white !important"><i class="fas fa-burn"></i> <span class="gaz-consumption cmd history cursor" style="color:white !important" data-type="info" data-cmd_id="#gaz-consumption-id#">XXXXXXXXXXXX</span></span>', 0, 88,'rect',null,null,true)
                    .attr({
                        fill: '#910000',
                        padding: 5,
                        r: 5
                    })
                    .css({
                        color: 'white !important',
                    })
                    .add()
                    .shadow(true);
                ren.path(rightArrow)
                    .attr({
                        'stroke-width': 2,
                        stroke: '#910000',
                    })
                    .translate(95, 99)
                    .add();
                ren.label('<span class="gaz-consumption-instant cmd history cursor" data-type="info" data-cmd_id="#gaz-consumption-instant-id#">XXXXXXXXXXXX</span>', 140, 75)
                    .css({
                        color: 'var(--txt-color)'
                    })
                    .add();
                ren.label('<span style="color:white !important"><i class="fas fa-tint"></i> <span class="water-consumption cmd history cursor" style="color:white !important" data-type="info" data-cmd_id="#water-consumption-id#">XXXXXXXXXXX</span></span>', 190, 168,'rect',null,null,true)
                    .attr({
                        fill: '#2f7ed8',
                        padding: 5,
                        r: 5
                    })
                    .css({
                        color: 'white !important',
                        width: '100px'
                    })
                    .add()
                    .shadow(true);
                ren.path(['M', 250, 110,'L', 245, 115, 'M', 250, 110, 'L', 255, 115,'M', 250, 110, 'L', 250, 168])
                    .attr({
                        'stroke-width': 2,
                        stroke: '#2f7ed8'
                    })
                    .add();
                ren.label('<span class="water-consumption-instant cmd history cursor" data-type="info" data-cmd_id="#water-consumption-instant-id#">XXXXXXXXXXXX</span>', 255, 130)
                    .css({
                        color: 'var(--txt-color)'
                    })
                    .add();
            }
        }
    },
    title:false,
    subtitle:false,
    exporting: { enabled: false },
    credits: { enabled: false }
});


jeedom.cmd.update['#elec-import-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-import').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#elec-export-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-export').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#elec-export-instant-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-export-instant').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#elec-production-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-production').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#elec-production-consumption-instant-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-production-consumption-instant').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#elec-consumption-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-consumption').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#elec-import-instant-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-import-instant').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#gaz-consumption-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .gaz-consumption').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#gaz-consumption-instant-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .gaz-consumption-instant').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#water-consumption-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .water-consumption').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#water-consumption-instant-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .water-consumption-instant').empty().append(_options.display_value +' '+_options.unit)
}

jeedom.cmd.update['#elec-autoconsumption-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-autoconsumption .state').empty().append(_options.display_value)
    $('.eqLogic[data-eqLogic_id=#id#] .elec-autoconsumption .unit').empty().append(_options.unit)
}

jeedom.cmd.update['#elec-selfsufficiency-id#'] = function(_options) {
    $('.eqLogic[data-eqLogic_id=#id#] .elec-selfsufficiency .state').empty().append(_options.display_value)
    $('.eqLogic[data-eqLogic_id=#id#] .elec-selfsufficiency .unit').empty().append(_options.unit)
}

jeedom.cmd.update['#elec-import-instant-id#']({display_value: '#elec-import-instant-state#', valueDate: '#elec-import-instant-valueDate#', collectDate: '#elec-import-instant-collectDate#',unit:'#elec-import-instant-unite#'})
jeedom.cmd.update['#elec-export-instant-id#']({display_value: '#elec-export-instant-state#', valueDate: '#elec-export-instant-valueDate#', collectDate: '#elec-export-instant-collectDate#',unit:'#elec-export-instant-unite#'})
jeedom.cmd.update['#elec-import-id#']({display_value: '#elec-import-state#', valueDate: '#elec-import-valueDate#', collectDate: '#elec-import-collectDate#',unit:'#elec-import-unite#'})    
jeedom.cmd.update['#elec-export-id#']({display_value: '#elec-export-state#', valueDate: '#elec-export-valueDate#', collectDate: '#elec-export-collectDate#',unit:'#elec-export-unite#'})
jeedom.cmd.update['#elec-production-id#']({display_value: '#elec-production-state#', valueDate: '#elec-production-valueDate#', collectDate: '#elec-production-collectDate#',unit:'#elec-production-unite#'})
jeedom.cmd.update['#elec-production-consumption-instant-id#']({display_value: '#elec-production-consumption-instant-state#', valueDate: '#elec-production-consumption-instant-valueDate#', collectDate: '#elec-production-consumption-instant-collectDate#',unit:'#elec-production-consumption-instant-unite#'})
jeedom.cmd.update['#elec-consumption-id#']({display_value: '#elec-consumption-state#', valueDate: '#elec-consumption-valueDate#', collectDate: '#elec-consumption-collectDate#',unit:'#elec-consumption-unite#'})
jeedom.cmd.update['#gaz-consumption-id#']({display_value: '#gaz-consumption-state#', valueDate: '#gaz-consumption-valueDate#', collectDate: '#gaz-consumption-collectDate#',unit:'#gaz-consumption-unite#'})
jeedom.cmd.update['#gaz-consumption-instant-id#']({display_value: '#gaz-consumption-instant-state#', valueDate: '#gaz-consumption-instant-valueDate#', collectDate: '#gaz-consumption-instant-collectDate#',unit:'#gaz-consumption-instant-unite#'})
jeedom.cmd.update['#water-consumption-id#']({display_value: '#water-consumption-state#', valueDate: '#water-consumption-valueDate#', collectDate: '#water-consumption-collectDate#',unit:'#water-consumption-unite#'})
jeedom.cmd.update['#water-consumption-instant-id#']({display_value: '#water-consumption-instant-state#', valueDate: '#water-consumption-instant-valueDate#', collectDate: '#water-consumption-instant-collectDate#',unit:'#water-consumption-instant-unite#'})
jeedom.cmd.update['#elec-autoconsumption-id#']({display_value: '#elec-autoconsumption-state#', valueDate: '#elec-autoconsumption-valueDate#', collectDate: '#elec-autoconsumption-collectDate#',unit:'#elec-autoconsumption-unite#'})
jeedom.cmd.update['#elec-selfsufficiency-id#']({display_value: '#elec-selfsufficiency-state#', valueDate: '#elec-selfsufficiency-valueDate#', collectDate: '#elec-selfsufficiency-collectDate#',unit:'#elec-selfsufficiency-unite#'})

    
if ('#panelLink#' == '') {
	$('.eqLogic[data-eqLogic_uid=#uid#] .panelLink').remove()
}    
if ('#refresh_id#' != '') {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'})
    })
} else {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove()
}
  </script>
</div>